#align{
 
  text-align: center;
  font-size: 49px;
}
sup{
  color: red;
}
body{
  background-color: peachpuff;
  font-size: 18px;
}

form {
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  form {
    width: 90%;
  }
}

#password{
  display: none;
}